---
import Layout from "../layouts/Layout.astro"

import Form from "../components/Form.tsx"
---

<Layout title="Welcome to Astro.">
  <main>
    <Form client:only />
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      background: white;
      font-size: 20px;
      line-height: 1.6;
    }
  </style>
</Layout>
