---
import Layout from "../layouts/Layout.astro"
import MainView from "../components/MainView.tsx"
---

<Layout title="Litter Alert">
  <main>
    <MainView client:only />
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      background: white;
      font-size: 20px;
      line-height: 1.6;
    }
  </style>
</Layout>
